* {
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    margin: 0;
    background-color: #f8f8f8;
}
.header{
    background-color: #ffffff;
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px;

}
.header-titulo{
    color: #EC9B69;
}
.titulo-span{
 color: #313131;
}
.div-form{
    border: solid 1px #bebebe;
    border-radius: 8px;
    width: 403px;
    height: 42px;
}
.form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.input{
    border: none;
    
}
.submit{
    border: none;
    height: 18px;
    width: 18px;
    background: transparent;  
}




.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 350px;
    
}
.card-main{
    width: 252px;
    position:absolute;
    max-height: 500px;
}
.img-card{
    width: 100%;
    position: relative;
    max-height: 254px;
}
.sub-div2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-height: 20px;
}
.sub-sub-div2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    background-color: #ffffff;
    margin: 4px;
    max-height: 100%;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
}
.footer-p{
    color: #313131;
}
.footer-span{
    color:#EC9B69;
}